<h1 style="@ElementStyle @H1Boarder">-Child Component Text. - @Counter</h1>

<GrandChildComponent></GrandChildComponent>

@code {
    [CascadingParameter(Name = "ColorStyle")]
    public string ElementStyle { get; set; }

    [CascadingParameter(Name = "BoarderStyle")]
    public string H1Boarder { get; set; }

    [CascadingParameter(Name = "Counter")]
    public int Counter { get; set; }
}
